@viewport { width: auto; }

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

div.content {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#menu {
  max-width: 20vw;
  position: fixed;
  top: 100px;
}

header {
  padding: 12px 35px !important;
  position: relative;
}

header div.title {
  padding: 0 0 35px 0;
  font-size: 40px;
  position: fixed;
  top: 50px;
  font-weight: bold;
}

header div.title a {
  text-decoration: none;
  color: #383E43;
}

header nav ul.menu {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

header nav ul li {
  padding: 0 0 5px 0;
}

header nav ul li a, a:visited {
  color: black;
  text-decoration: none;
}

div.expo-content {
  width: 100vw;
  display: block;
  margin-top: 120px;
  margin-left: 200px;
}

div.cv-content, img.cover-photo-1 {
  max-width: 100vw;
  display: block;
}

div.cv-title {
  font-weight: bold;
  font-size: 24px;
}

div.cv-content {
  margin: 120px 0 0 200px;
}

img.cover-photo-1 {
  height: calc(100vh - 16px);
}

img.cover-photo-2 {
  height: calc(60vh - 16px);
  margin-left: 30px;
  margin-top: 10vh;
}

img.cover-photo-3 {
  height: calc(80vh - 16px);
  margin-left: 30px;
  margin-top: 20vh;
}

img.cover-photo-4 {
  height: calc(50vh - 16px);
  margin-left: 30px;
  margin-top: 30vh;
}

img.cover-photo-5 {
  height: calc(70vh - 16px);
  margin-left: 30px;
  margin-top: 15vh;
  margin-right: 8px;
}

div.expo-content img.expo-img {
  max-width: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.expo-content img.expo-img {
  margin-top: 30px;
}

div.contact-info, div.education-content, div.exhibition-content {
  margin: 30px 0 0 0;
}

div.expo-title {
  font-weight: bold;
  font-size: 24px;
}

div.expo-images-columns {
  display: flex;
  flex-wrap: wrap;
}

div.expo-technique {
  margin: 20px 0;
  text-align: center;
}

div.expo-text {
  margin: 0 5vw 5vh 5vw;
}

div.education-content, div.exhibition-content {
  display: flex;
}

div.education-title, div.exhibitions-title, div.exhibition-content span.exhibition-title  {
  font-weight: bold;
}

div.education-title, div.exhibitions-title {
  width: 100px;
}

div.exhibitions-title {
  display: table;
}

div.exhibition-content span.exhibition-title {
  font-size: 16px;
}

div.education-info ul, div.exhibition-info ul {
  margin: 0 0 0 30px;
  padding: 0;
}

div.exhibition-info ul {
  display: block;
}

div.education-info ul li, div.exhibition-info ul li {
  list-style-type: none;
}

div.exhibition-info ul li {
  font-size: 14px;
}

div.education-info ul li:not(:last-child), div.exhibition-info ul li:not(:last-child) {
  margin: 0 0 20px 0;
}

div.education-years {
  font-weight: bold;
}

div.footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
